<footer class="footer">
    <div class="text-center">
        <small class="copyright">    Designed with <i class="fas fa-heart"></i> by <a href="https://www.naschenweng.eu/" target="_blank">Gerd W. Naschenweng</a><br>
    Copyright © {{ 'now' | date: "%Y" }} by <a href="https://www.naschenweng.eu/">naschenweng.eu</a>. All Rights Reserved. <a href="https://www.naschenweng.eu/privacy/" title="Your Privacy">Our Privacy Policy</a><br>Unauthorized use and/or duplication of this material without express and written permission from this sites author and/or owner is strictly prohibited.
</small>
    </div><!--//container-->
</footer><!--//footer-->
