{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item" style="text-align: justify">
    <span class="project-title">
      {% if publication.link %}
      <i class="fas fa-link" style="padding-right:5px"></i><a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a>
    {% else %}
    <i class="fas fa-user-lock" style="padding-right:5px"></i>{{ publication.title }}
    {% endif %}
    </span>
    {% if publication.summary %}
    <span class="project-tagline"><br>{{ publication.summary }}</span>
    {% endif %}
  </div><!--//item-->
  {% endfor %}
</section><!--//section-->
{% endif %}
